<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>Kwitter</title>
  </head>
  
  <body>
    <form method="POST" action="/sign-up">
        <input type="text" name="username" placeholder="Username">
        <input type="submit">
    </form>
    
    <h1> Kwitter </h1>

    <% if @user %>
    <h2>Hello <%= @user.username %></h2>
      <form method="POST" action="/tweet">
        <input type="text" name="message" placeholder="Tweet">  
        <input type="hidden" name="user" value="<%= @user.id %>">
        <input type="submit">
      </form>
    <% end %>

    <% Tweet.all.each do |tweet| %>
      <h3> <%= tweet.message %>  
        -- <%= tweet.user.username %> </h3>
    <% end %>
  </body>
  
</html>